@font-face {
    font-family: 'Alexandria';
    src: url('AlexandriaFLF.woff2') format('woff2'),
         url('AlexandriaFLF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Draftside';
    src: url('DraftsideRegular.woff') format('woff'),
    url('DraftsideRegular.woff2') format('woff2');


}
:root{
        --universal-padding: 1.5rem;

        --color-background: #121212;
        --color-background2: #5a3618;  /* Almost black for main background */
        --color-text: #e0e0e0;        /* Off-white for main text color */
        --color-secondary: #9e9e9e;   /* Grey for secondary text, borders, etc. */
        --color-primary: #bb86fc;     /* A muted purple for primary interactive elements or highlights */
        --color-accent: #03dac6;      /* A muted cyan for accent elements or CTAs */

}

body {
    margin: 0;
    padding: 0;

    background-color: var(--color-background);
}
#mainNav{
    background-color: var(--color-background2);

    
}
/* Styles for mobile screens */
.navList{
    box-sizing: border-box;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Added this to distribute space around the items */
    align-items: center;
    margin: 0;
    width: 100%; /* Make the navigation list take up the full width of the screen */ 
}

.navList li {
    /* Styles for the li elements within .navList */

    margin: 5px 0; /* Adjust margin to fit better on mobile screens */
    font-family: 'Alexandria', serif;
    font-size: 18px;

}
.navList li a {
    color: var(--color-text);
    text-decoration: none; /* Removes the underline */
}
.hero {

    width: 100%;
    margin: 0 auto;
    padding: 3rem var(--universal-padding);
    box-sizing: border-box;
}
h1, h2, h3 {
    margin: 0;
}
h1 {
    color: var(--color-text);
    font-family: 'Alexandria', serif;
    font-size: 2em; 

    text-align: left; 
    font-weight: bold;
}
h2{
    color: var(--color-secondary);
    font-family: 'Alexandria', serif;
    font-size: 1 rem;
    font-weight: normal;

    text-align: left; 
}
/*This is format for dates*/
h3{
    font-family: 'Draftside', serif;
    color: var(--color-secondary);
    font-size: 1rem;
    font-weight: normal;
  
    text-align: left;
}
.hero h1{
    margin-bottom: 0.8rem;
}
#blog {
    width: 100%; /* Full width on small screens */
 
}


.blog-header{

    padding: 2rem var(--universal-padding) 0.75rem;
    box-sizing: border-box;
}
.blog-header h1{
    font-size: 1.75rem;
}
.post-preview{
    display: flex; 
    flex-direction: row; 
    align-items: start; 
    gap: 10px; /* creates some space between the thumbnail and blog details */

    border: 1px solid var(--color-secondary);
    border-radius: 10px;
    padding: 1rem var(--universal-padding);
    margin: 10px 0;
    box-sizing: border-box;


}
.post-preview a {
    display: block;
    text-decoration: none;
    color: inherit;
}

.post-preview h1{
font-size: 1.25em;
}
.post-preview h2{
font-size: 1.25rem;
}
.blog-details h1,
.blog-details h2{
    margin-bottom: 0.5rem; /* Adjust this value as needed */
    margin-top: 0.5rem; /* Adjust this value as needed */
}
.blog-details h3{
    margin-bottom: 0.75rem; /* Adjust this value as needed */
    margin-top: 0.25rem; /* Adjust this value as needed */
}

.blog-details {
    flex-grow: 1; /* Added this - allow the blog details to take up the remaining space */
}
footer{
  
    padding: 2rem var(--universal-padding) 0rem;
}






/* MEDIA QUERIES */
/* Styles for tablets and larger screens */
@media (min-width: 601px){
    .navList{
        flex-direction: row;
        justify-content: flex-end;
        margin: 0 10px;
    }

    .navList li {
        margin: 5px 20px; /* Add more margin for larger screens */
    }

    .Thumbnail, .Thumbnail img {
        width: 150px;
        height: 150px;
    }
}

/* Styles for desktop and larger screens */
@media (min-width: 1025px){
    .hero{
        width: 50%;
        padding: 2em; /* Add more padding for larger screens */
    }

    .hero h1 {
        font-size: 2.5em;
    }
}