@font-face {
    font-family: 'Alexandria';
    src: url('AlexandriaFLF.woff2') format('woff2'),
         url('AlexandriaFLF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}
#mainNav{
    /* Styles for the nav element */
    background-color: rgb(48, 48, 48);
    
}
/* Styles for mobile screens */
.navList{
    box-sizing: border-box;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Added this to distribute space around the items */
    align-items: center;
    margin: 0;
    width: 100%; /* Make the navigation list take up the full width of the screen */ 
}

.navList li {
    /* Styles for the li elements within .navList */

    margin: 5px 0; /* Adjust margin to fit better on mobile screens */
    font-family: 'Alexandria', serif;
    font-size: 18px;

}
.navList li a {
    color: white;
    text-decoration: none; /* Removes the underline */
}
.hero{
    background-color: rgb(48, 48, 48);

    width: 100%; /* Full width on small screens */
    margin: 0 auto; /* Center the content */
    padding: 1.5rem; /* Some space around the content now using rem */

    box-sizing: border-box;
  
}
h1 {
    color: white;
    font-family: 'Alexandria', serif;
    font-size: 2em; /* You can adjust the size as needed */
    margin-bottom: 1rem; /* Adjust this value as needed */
    text-align: left; 
    font-weight: bold;
}
h2{
    color: white;
    font-family: 'Alexandria', serif;
    font-size: 1.75em; /* You can adjust the size as needed */
    font-weight: normal;
    margin-top: 1rem; /* Adjust this value as needed */
    text-align: left; 
}
#blog {
    width: 100%; /* Full width on small screens */
    background-color: rgb(52, 76, 112);
}

.blog-content {
    padding: 1.5rem; /* Same padding as the hero content */
    box-sizing: border-box;
}
.post-preview{
    display: flex; 
    flex-direction: row; 
    align-items: start; 
    gap: 10px; /* creates some space between the thumbnail and blog details */
}
/*
.Thumbnail{
    width: 150px; 
    height: 150px; 
    overflow: hidden; 
}

.Thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
*/

.blog-details {
    flex-grow: 1; /* Added this - allow the blog details to take up the remaining space */
}






/* MEDIA QUERIES */
/* Styles for tablets and larger screens */
@media (min-width: 601px){
    .navList{
        flex-direction: row;
        justify-content: flex-end;
        margin: 0 10px;
    }

    .navList li {
        margin: 5px 20px; /* Add more margin for larger screens */
    }

    .Thumbnail, .Thumbnail img {
        width: 150px;
        height: 150px;
    }
}

/* Styles for desktop and larger screens */
@media (min-width: 1025px){
    .hero{
        width: 50%;
        padding: 2em; /* Add more padding for larger screens */
    }

    .hero h1 {
        font-size: 2.5em;
    }
}